<style>
	body{
		margin: 0;
	}

	button{
		cursor: pointer;
	}

	#box{
		background: rgba(255, 255, 255, 0.95);
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		width: 30vw;
	}

	#box:nth-child(1){
		margin-top: 25px;
	}

	#box,
	#box *{
		box-sizing: border-box;
		outline: none;
	}

	#box .container{
		clear: both;
		display: block;
		width: 100%;
	}
	#box .container p{
		font-family: 'Open Sans', 'Arial', 'Helvetica', 'Verdana', sans-serif;
		color: #333333;
		display: block;
		margin: 15px auto;
		width: 90%;
	}

	#box textarea.psCss,
	#box textarea.psText{
		height: 100px;
	}

	#box textarea, #box select,
	#box button{
		border: none;
		display: block;
		margin: 15px auto;
		position: relative;
		width: 90%;
	}

	#box textarea,
	#box select{
		border: 1px solid #000000;
	}

	#box button:active,
	.closeLightBoxButton:active{
		left: 1px;
		top: 1px;
	}

	#box textarea.psBackground,
	#box select{
		font-size: 16px;
		height: 50px;
	}

	#box .fixedButtons{
		background: #b5121b;
		color: #fff;
		width: 90%;
		margin: 20px auto;
		height: 35px;

		font-size: 16px;
	}




	/* lightbox */
	.lightboxMaster{
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.6);
		margin: 0;
		padding: 0;
		border: 0;
	}

	.lightbox{
		display: none;
		background: rgba(255, 255, 255, 1);
		height: auto;
		padding: 25px;
		margin: 0 auto;
		top: 15%;
		width: 75vw;
	}

	.lightbox:nth-child(1){
		margin-top: 5%;
	}

	.lightbox,
	.lightbox *{
		box-sizing: border-box;
		outline: none;
	}

	.lightbox .container{
		clear: both;
		display: block;
		width: 100%;
	}
	.lightbox .container p{
		font-family: 'Open Sans', 'Arial', 'Helvetica', 'Verdana', sans-serif;
		color: #333333;
		display: block;
		margin: 15px auto;
		width: 90%;
	}

	.lightbox textarea.psCss,
	.lightbox textarea.psText{
		height: 100px;
	}

	.lightbox textarea, .lightbox select, .lightbox input,
	.lightbox button{
		border: none;
		display: block;
		margin: 15px auto;
		position: relative;
		width: 90%;
	}

	.lightbox textarea,
	.lightbox select, .lightbox input{
		border: 1px solid #000000;
	}

	.lightbox button:active{
		left: 1px;
		top: 1px;
	}

	.lightbox textarea.psBackground,
	.lightbox select, .lightbox input{
		padding-left: 10px;
		font-size: 16px;
		height: 50px;
	}

	.lightbox input{
		padding-left: 10px;
	}

	.lightbox .fixedButtons{
		background: #b5121b;
		color: #fff;
		width: 90%;
		margin: 20px auto;
		height: 35px;

		font-size: 16px;
	}

	.closeLightBox{
		text-align: right;
	}
	.closeLightBoxButton{
		margin: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding: 5px 10px;
		font-family: 'Open Sans', 'arial', 'helvetica', sans-serif;
		font-size: 20px;
		color: #fff;
		background: #b5121b;
	}
</style>


<div id="box">
	<div class="container">
		<textarea class="psCss" placeholder="PHOTOSHOP CSS"></textarea>
	</div>
	<div class="container">
		<textarea class="psText" placeholder="TEXTO"></textarea>
	</div>
	<div class="container">
		<textarea class="psBackground" placeholder="BACKGROUND">00ff00</textarea>
	</div>
	<div class="container">
		<p>Função do mouse:</p>
		<select>
			<option value="deleteImg">Deletar imagem</option>
			<option value="addText">Adicionar texto</option>
			<option value="modifyAltTitle">Alterar atributo Alt e Title</option>
			<option value="addOrModifyLink">Adicionar ou modificar link</option>
			<option value="removeA">Remover link</option>
		</select>
	</div>
	<div class="container">
		<button class="btnSalvar fixedButtons" onclick="cssBySelection();">
			Inserir CSS na Seleção
		</button>
	</div>
	<div class="container">
		<button class="btnAddCss fixedButtons" onclick="salvar();">
			Salvar e-mail
		</button>
	</div>
</div>

<div class="lightboxMaster">

	<div class="lightbox box-altTitle" style="display: none;">
		<div class="closeLightBox">
			<p class="closeLightBoxButton" onclick="closeLightBox()">X</p>
		</div>
		<div class="container">
			<input class="imgAlt" placeholder="ALT e TITLE da imagem" />
		</div>
		<div class="container">
			<button class="fixedButtons" onclick="changeAltTitle();">
				Alterar
			</button>
		</div>
	</div>
	<div class="lightbox box-addOrModifyLink" style="display: none;">
		<div class="closeLightBox">
			<p class="closeLightBoxButton" onclick="closeLightBox()">X</p>
		</div>
		<div class="container">
			<input class="input-addOrModifyLink" placeholder="Insira o link da imagem" />
		</div>
		<div class="container">
			<button class="fixedButtons" onclick="addOrModifyLink();">
				Alterar ou criar link
			</button>
		</div>
	</div>

</div>

<!--
//usar essas linhas para converter em única linha e jogar no StructureEmailMarketing
//injeta o jQuery
head = document.querySelector('head');
script = document.createElement('script');
script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js';
head.appendChild(script);
setTimeout(function(){
	console.log( $('#box')[0].outerHTML.replace(/\t/g,'').replace(/\n/g,'').replace(/\'/g, '\\\'') );
	console.log( $('.lightboxMaster')[0].outerHTML.replace(/\t/g,'').replace(/\n/g,'').replace(/\'/g, '\\\'') );
	console.log( $('style')[0].outerHTML.replace(/\t/g,'').replace(/\n/g,'').replace(/\'/g, '\\\'') );
}, 1000);
-->